.dropdown-menu {
	width: 55vh;
	position: absolute;
	top: 5vh;
	right: 0px;
	list-style: none;
	text-align: none;
	border: 2x solid black;
	background: linear-gradient(160deg, #d3e6ee 0%, #cfe0f3 100%);
	border-radius: 8px;
	z-index: 99999;
}

h2.title {
	text-align: center;
	font-size: 1000;
	padding-left: 20px;
	margin-bottom: -5px;
}

.dropdown-menu li {
	cursor: pointer;
	padding: 5px 3px;
	margin-bottom: 10px;
}

.dropdown-menu li:hover {
	background: #94c0ee;
	border-radius: 8px;
}

.dropdown-menu clicked {
	display: none;
}
